.WeatherForecast {
  text-align: center;
}

.WeatherForecast-temperature-max {
  font-weight: bold;
}

.WeatherForecast img {
  height: 60px;
  display: inline-block;
  position: relative;
  top: -2px;
  margin-left: 3px;
}